<!DOCTYPE html>
<html lang="no">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width">

    <title>try00 - Quasar App</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/quasar-framework@^0.17.0/dist/umd/quasar.mat.min.css" rel="stylesheet" type="text/css">

    <style type="text/css">
      .logo-container {
        width: 255px;
        height: 242px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
      .logo {
        position: absolute;
      }
    </style>
  </head>
  <body>
    <div id="q-app">
      <q-layout view="lHh Lpr fff">
        <q-layout-header>
          <q-toolbar
            :glossy="$q.theme === 'mat'"
            :inverted="$q.theme === 'ios'"
          >
            <q-btn flat round dense @click="drawerState = !drawerState" icon="menu"></q-btn>

            <q-toolbar-title>
              <q-datetime v-model="datautiliz" type="date" />
              
            </q-toolbar-title>
              <q-btn flat round dense icon="launch" color="white">
              </q-btn>
                <q-btn flat round dense icon="shopping_cart">
                  <q-chip floating color="red">29</q-chip>
                </q-btn>
           
          </q-toolbar>
          
        </q-layout-header>

        <q-layout-drawer
          v-model="drawerState"
          :content-class="$q.theme === 'mat' ? 'bg-grey-3' : null"
        >
          <q-list no-border link inset-delimiter>
            <q-list-header>Essential Links</q-list-header>
            <q-item @click.native="launch('http://quasar-framework.org')">
              <q-item-side icon="school"></q-item-side>
              <q-item-main label="Docs" sublabel="quasar-framework.org"></q-item-main>
            </q-item>
            <q-item @click.native="launch('https://discord.gg/5TDhbDg')">
              <q-item-side icon="chat"></q-item-side>
              <q-item-main label="Discord Chat Channel" sublabel="https://discord.gg/5TDhbDg"></q-item-main>
            </q-item>
            <q-item @click.native="launch('http://forum.quasar-framework.org')">
              <q-item-side icon="forum"></q-item-side>
              <q-item-main label="Forum" sublabel="forum.quasar-framework.org"></q-item-main>
            </q-item>
            <q-item @click.native="launch('https://twitter.com/quasarframework')">
              <q-item-side icon="rss feed"></q-item-side>
              <q-item-main label="Twitter" sublabel="@quasarframework"></q-item-main>
            </q-item>
          </q-list>
        </q-layout-drawer>

        <q-page-container>
            <!-- <input type="number" v-model="cautare" placeholder="cauta pret" /> -->
            
            <q-search type='number'
                      icon="pregnant_woman" color="secondary" 
                      v-model="cautare" float-label="Cautare dupa pret"
                      placeholder='introdu pretul'
             />
             
           
            <!-- <div style="width: 500px; max-width: 90vw;"> -->
                <div>{{datautiliz}}</div>
              <div>
                  
                <q-list highlight inset-separator color="dark" >
                    
                  <q-list-header>
                      
                      <q-item>
                          <q-item-side >pret</q-item-side>
                          <q-item-main >Denumire</q-item-main>
                          <q-item-side right >buc</q-item-side>
                      </q-item>
                  </q-list-header>
                  
                  <q-item v-for="blog in filteredBlogs">
                    <q-item-side >{{blog.pret}}</q-item-side>
                    <q-item-main >{{blog.titlu}}</q-item-main>
                    <q-item-side right >{{blog.buc}}</q-item-side>
                  </q-item>
                </q-list>
              </div>
              
        </q-page-container>
                             <my-page></my-page>
      </q-layout>
    </div>

    <script type="text/x-template" id="my-page">
      <q-page padding>
    
        <!-- page content; replace this entirely -->
    <q-page-sticky position="bottom-left" :offset="[18, 18]">
       <q-fab
         icon="add"
         direction="up"
         color="info"
       >
         <q-fab-action @click="alert" color="green" class="white" icon="input" />
         <q-fab-action @click="alert" color="red" class="white" icon="launch" />
         <q-fab-action @click="alert" color="blue" class="white" icon="euro_symbol" />
       </q-fab>
    </q-page-sticky>

      </q-page>
    </script>

    
    <script src="https://cdn.jsdelivr.net/npm/vue@latest/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar-framework@^0.17.0/dist/umd/quasar.mat.umd.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/quasar-framework@^0.17.0/dist/umd/i18n.no.umd.min.js"></script>
      -->
    <script>
      const arrobj=[
 {
   titlu: "Brosa 65 cu paiete si cacat la cur semanand foarte bie cu domnul aznavur",
   buc: 2,
   pret: '65'
 },
 {
   titlu: "brosa 40",
  buc: 1,
   pret: '40'
 },
 {
   titlu: "curea 20",
  buc: 13,
   pret: '20'
 },
 {
   titlu: "tricou35",
  buc: 19,
   pret: '35'
 },
 {
   titlu: "trcou30",
  buc: 26,
   pret: '30'
 },
 {
   titlu: "Bluza E 60",
  buc: 12,
   pret: '60'
 },
 {
   titlu: "bluza E 50",
  buc: 2,
   pret: '50'
 },
 {
   titlu: "Bluza LSK",
  buc: 4,
   pret: '30'
 },
 {
   titlu: "bluza50",
  buc: 4,
   pret: '50'
 },
 {
   titlu: "bluza60",
  buc: 3,
   pret: '60'
 },
 {
   titlu: "pulov 55",
  buc: 3,
   pret: '55'
 },
 {
   titlu: "rochita scurta110",
  buc: 11,
   pret: '110'
 },
 {
   titlu: "rochita 100",
  buc: 2,
   pret: '100'
 },
 {
   titlu: "rochita 90",
  buc: 5,
   pret: '90'
 },
 {
   titlu: "rochita 150",
  buc: 3,
   pret: '150'
 },
 {
   titlu: "rochita 115",
  buc: 3,
   pret: '115'
 },
 {
   titlu: "rochita 95",
  buc: 8,
   pret: '95'
 },
 {
   titlu: "rochita E 145",
  buc: 3,
   pret: '145'
 },
 {
   titlu: "rochita 80",
  buc: 2,
   pret: '80'
 },
 {
   titlu: "rochita 45",
  buc: 16,
   pret: '45'
 },
 {
   titlu: "rochita 85",
  buc: 5,
   pret: '85'
 },
 {
   titlu: "halat 75",
  buc: 1,
   pret: '75'
 },
 {
   titlu: "rochita 125",
  buc: 2,
   pret: '125'
 },
 {
   titlu: "rochita 155",
  buc: 2,
   pret: '155'
 },
 {
   titlu: "salopeta 125",
  buc: 4,
   pret: '125'
 },
 {
   titlu: "colier 30",
  buc: 1,
   pret: '30'
 },
 {
   titlu: "brosa 60",
  buc: 2,
   pret: '60'
 },
 {
   titlu: "rochita 55",
  buc: 1,
   pret: '55'
 },
 {
   titlu: "rochita 110",
  buc: 10,
   pret: '110'
 },
 {
   titlu: "salopeta 100",
  buc: 4,
   pret: '100'
 },
 {
   titlu: "salopeta E 135",
  buc: 2,
   pret: '135'
 },
 {
   titlu: "salopeta E 110",
  buc: 1,
   pret: '110'
 },
 {
   titlu: "rochita E 210",
  buc: 2,
   pret: '210'
 },
 {
   titlu: "salopeta E 130",
  buc: 2,
   pret: '130'
 },
 {
   titlu: "salop 95",
  buc: 1,
   pret: '95'
 },
 {
   titlu: "rochita130",
  buc: 2,
   pret: '130'
 },
 {
   titlu: "rochita 120",
  buc: 4,
   pret: '120'
 },
 {
   titlu: "rochita E 90",
  buc: 8,
   pret: '90'
 },
 {
   titlu: "rochita E 80",
  buc: 6,
   pret: '80'
 },
 {
   titlu: "rochita 75",
  buc: 9,
   pret: '75'
 },
 {
   titlu: "rochita tul",
  buc: 2,
   pret: '65'
 },
 {
   titlu: "fusta 60",
  buc: 1,
   pret: '60'
 },
 {
   titlu: "pant 70",
  buc: 8,
   pret: '70'
 },
 {
   titlu: "pant plisati",
  buc: 3,
   pret: '55'
 },
 {
   titlu: "pant 65",
  buc: 2,
   pret: '65'
 },
 {
   titlu: "blugi 75",
  buc: 5,
   pret: '75'
 },
 {
   titlu: "blug alb 85",
  buc: 1,
   pret: '85'
 },
 {
   titlu: "geaca blug 125",
  buc: 1,
   pret: '125'
 },
 {
   titlu: "geaca piele 80",
  buc: 2,
   pret: '80'
 },
 {
   titlu: "cam 55",
  buc: 4,
   pret: '55'
 },
 {
   titlu: "cam 75",
  buc: 1,
   pret: '75'
 },
 {
   titlu: "salopeta 110",
  buc: 3,
   pret: '110'
 }
]
      Quasar.i18n.set(Quasar.i18n.no)
      
      Vue.component('my-page', {
        template: '#my-page'
      })

      var ii=new Vue({
        el: '#q-app',
        data: function () {
          return {
            cautare: '',
            version: Quasar.version,
            drawerState: true,
            datautiliz: new Date(),
            blogs: arrobj 
            
          }
        },
        methods: {
          launch: function(url) {
            Quasar.utils.openURL(url)
          }
        },
        computed: {
            filteredBlogs: function(){
                return this.blogs.filter((blog) => {
                    return blog.pret.match(this.cautare);
                });
            }
        }
      })
    </script>



  </body>
</html>
